<!-- <h3></h3>
<div class="list-group">
    <a class="list-group-item active" >{{title}}</a>
</div>
<div class="list-group" *ngFor="let category of categories!">
    <a class="list-group-item" routerLink="products/category/{{category.id}}">{{category.name}}</a>
</div> -->

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex">
      <a  class="p-2 link-secondary" routerLink="/products">All</a>
      <a  *ngFor="let category of categories!" class="p-2 link-secondary" routerLink="/products/category/{{category.id}}">{{category.name}}</a>
    </nav>
  </div>