
<!-- <h3 *ngIf="products; else noProduct ">{{title}}</h3>
<div class="mb-3">
  <input placeholder="ürün ara" id="productId" class="form-control" [(ngModel)]="filterText"/>
  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div> -->

<app-category></app-category>
<!-- ngif angularda if yapısıdır ngifte eğer products tanımlanmışsa h3 göster demektir. else noProduct ise noProduct id li ne varsa onu göster demektir -->
<div class="row">

    <ng-template #noProduct> <div class="alert alert-primary" role="alert">
        Ürün yok
      </div></ng-template>
 
      <!-- her bir products için product al. for döngüsü  -->
      <div *ngFor="let product of products! | productFilter:filterText" class="productbox" style="width: 18rem;">
        <img src="{{product.imageUrl}}" class="card-img-top"  alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name | lowercase}}</h5>
          <p class="card-text">{{product.description}}</p>
          <!-- //currency bir hazır pipe dir şekil şekil gözüksün ve format demek sırasıyla girdiler. normalde USD yazsan dolar işareti çıkar -->
          <a (click)="addToCart(product)"  class="btn btn-primary">{{product.price |currency:'₺':true:"1.2-2"}} ADD</a>
        </div>
      </div>
</div>
