@page "/multiParam"
<h3>MultipleParameter</h3>

<input id="parameterWithSeperateValues" maxlength="@MaxLength" placeholder="@Placeholder" required="@Required" size="@Size"/>
<input id="parameterWithDictionary" @attributes="InputAttr" />
<!--Iki sekilde de cogul parametre tanimi yapabilirsin.-->
@code {
    [Parameter]
    public string MaxLength { get; set; } = "10";
    [Parameter]
    public string Placeholder { get; set; } = "First Name";
    [Parameter]
    public string Required { get; set; } = "required";
    [Parameter]
    public string Size { get; set; } = "50;";

    public Dictionary<string, object> InputAttr { get; set; } = new Dictionary<string, object>
    {
        {"maxlength","10"},
          {"placeholder","FirstName"},
            {"required","required"},
          {"size","50"},
    };
}
