<h3>yeni ürün ekle</h3>
<form [formGroup] ="productAddForm" (ngSubmit)="add()">
<div class="form-group">
    <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="ürün adı">
    <div class="alert alert-danger" *ngIf="productAddForm.get('name')!.hasError('required')&&productAddForm.get('name')!.dirty"> zorunludur</div>
</div>
<div class="form-group">
    <input type="text" id="description" name="description" formControlName="description" class="form-control" placeholder="description">
    <div class="alert alert-danger" *ngIf="productAddForm.get('description')!.hasError('required')&&productAddForm.get('description')!.dirty"> zorunludur</div>
</div>
<div class="form-group">
    <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="price">
    <div class="alert alert-danger" *ngIf="productAddForm.get('price')!.hasError('required')&&productAddForm.get('price')!.dirty"> zorunludur</div>
</div>
<div class="form-group">
    <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" class="form-control" placeholder="imageUrl">
    <div class="alert alert-danger" *ngIf="productAddForm.get('imageUrl')!.hasError('required')&&productAddForm.get('imageUrl')!.dirty"> zorunludur</div>
</div>
<div class="form-group">
    <select  formControlName="categoryId" required name="categoryId" id="categoryId" class="form-control">
        <option  *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        <div *ngIf="productAddForm.get('categoryId')!.hasError('required')&&productAddForm.get('categoryId')!.touched" class="alert alert-danger">Doldurulmasi zorunlu alan</div>
    </select>
  </div>
  <!-- form gecerli degilse pasif kalir  -->
  <button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid">kaydet</button>
  
</form>