<h3>Yeni Urun Ekle</h3>
<form #productAddFrom="ngForm" (ngSubmit)="add(productAddFrom)">
<div class="form-group">
  <input type="text" placeholder="urun name" #name="ngModel" [(ngModel)]="model.name" class="form-control" name="name" id="name" required>
  <!-- dirty ilk acilista bu ekranin acilmasini istenmiyorsak ekleriz/. kullanici acarsa hhicbirseye dokunmadigi hal pristive dokunursa eger dirty -->
  <div *ngIf="name.invalid" class="alert alert-danger">Doldurulmasi zorunlu alan</div>
</div>
<div class="form-group">
    <input type="text" placeholder="description" #description="ngModel" [(ngModel)]="model.description" class="form-control" name="description" id="description" required>
    <!-- dirty ilk acilista bu ekranin acilmasini istenmiyorsak ekleriz/. kullanici acarsa hhicbirseye dokunmadigi hal pristive dokunursa eger dirty -->
    <div *ngIf="description.invalid&&description.dirty" class="alert alert-danger">Doldurulmasi zorunlu alan</div>
  </div>
  <div class="form-group">
    <input type="text" placeholder="imageUrl" #imageUrl="ngModel" [(ngModel)]="model.imageUrl" class="form-control" name="imageUrl" id="imageUrl" required>
    <!-- dirty ilk acilista bu ekranin acilmasini istenmiyorsak ekleriz/. kullanici acarsa hhicbirseye dokunmadigi hal pristive dokunursa eger dirty -->
    <div *ngIf="imageUrl.invalid&&imageUrl.dirty" class="alert alert-danger">Doldurulmasi zorunlu alan</div>
  </div>
  <div class="form-group">
    <input type="text" placeholder="price" #price="ngModel" [(ngModel)]="model.price" class="form-control" name="price" id="price" required>
    <!-- dirty ilk acilista bu ekranin acilmasini istenmiyorsak ekleriz/. kullanici acarsa hhicbirseye dokunmadigi hal pristive dokunursa eger dirty -->
    <div *ngIf="price.invalid&&price.dirty" class="alert alert-danger">Doldurulmasi zorunlu alan</div>
  </div>
  <div class="form-group">
    <select #categoryId="ngModel"  [(ngModel)]="model.categoryId" required name="categoryId" id="categoryId" >
        <option class="form-control" *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        <div *ngIf="categoryId.invalid&&categoryId.touched" class="alert alert-danger">Doldurulmasi zorunlu alan</div>
    </select>
  </div>
  <!-- form gecerli degilse pasif kalir  -->
  <button type="submit" class="btn btn-primary" [disabled]="productAddFrom.invalid">kaydet</button>
  
</form>